<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}


<div class="max-w-screen-lg mx-auto">

    <div class="mt-10">
        <form action="/" class="flex flex-wrap" id="searchForm" method="GET">
            <input class="bg-white shadow-sm border border-green-200 w-4/5 rounded-md py-2 px-4" id="queryBox" name="title"
                   placeholder="Search..."
                   type="text">
            <div class="w-1/5 px-1">
                <button class="bg-green-700 text-white rounded-md py-2 px-3 w-full" type="submit">Search</button>
            </div>
        </form>
    </div>

    <div class="flex flex-wrap justify-between mt-10" id="houses">

        {{range .payload }}
        <div class="w-1/4 p-2">
            <div class="border bg-white rounded-md overflow-hidden shadow-sm">
                <div class="h-32 bg-green-300 overflow-hidden">
                    <image class="w-full min-h-full" src="https://picsum.photos/200/300">
                </div>
                <div class="px-4 pt-3 pb-5">
                    <div class="font-bold text-lg">{{.Title}}</div>
                    <div class="mt-3 font-light">{{.Content}}</div>

                    <div class="mt-5">
                        <a class="px-3 py-2 border bg-green-100 text-green-800 rounded-sm" href="/houses/{{.ID}}">
                            See More
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>

<script>
    var q = (selector) => document.querySelector(selector);
    var queryBox = q("#queryBox")
    queryBox.addEventListener('keyup', function (e) {
        ajaxSearch()
    })


    function ajaxSearch() {

        var params = `?title=${q("#queryBox").value}`

        var request = new XMLHttpRequest();
        request.open('GET', '/' + params, true);
        request.setRequestHeader('Accept', 'application/json');

        request.onload = function () {
            if (this.status >= 200 && this.status < 400) {
                // Success!
                var data = JSON.parse(this.response);
                q("#houses").innerHTML = jsonToHTML(data)
            } else {
                // We reached our target server, but it returned an error

            }
        };

        request.onerror = function () {
            // There was a connection error of some sort
        };

        request.send();
    }

    function jsonToHTML(data) {
        console.log(data)
        let html = ''
        for (var i = data.length - 1; i >= 0; i--) {
            html += `<div class="w-1/4 p-2">
    	<div class="border bg-white rounded-md overflow-hidden shadow-sm">
	    	<div class="h-32 bg-green-300 overflow-hidden">
	    		<image src="https://picsum.photos/200/300" class="w-full min-h-full"> 
	    	</div>
	    	<div class="px-4 pt-3 pb-5">
	    		<div class="font-bold text-lg">${data[i].Title}</div>
	    		<div class="mt-3 font-light">${data[i].content}</div>

				<div class="mt-5">
			    	<a href="/houses/${data[i].ID}" class="px-3 py-2 border bg-green-100 text-green-800 rounded-sm">
			    		See More
			    	</a>
				</div>
	    	</div>
    	</div>
    	</div>`
        }

        return html
    }


</script>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
