{{ template "header" . }}
<script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
<div class="row">
    <h4 class="center">留言评论</h4>
    <div class="divider"></div>
    <div class="section">
        <blockquote>愿您如K线记录股价般凡走过必留下痕迹，欢迎留下您的建议与评论</blockquote>
    </div>

    <div class="section">
        <div id="vcomments"></div>
        <script>
            new Valine({
                el: '#vcomments',
                appId: 'JTQFKjuUyrL06ubCvOll17tP-gzGzoHsz',
                appKey: 'lJ24pPuaJhlnt9JRvQICgI4d'
            })
        </script>
    </div>

    <div class="section">
        <div data-use="reward" id="cyReward" role="cylabs"></div>
        <script charset="utf-8" src="https://cy-cdn.kuaizhan.com/js/??lib/jquery.js,changyan.labs.https.js?appid=cywbKB4y6"
                type="text/javascript"></script>
    </div>
</div>
{{ template "footer" . }}
