{{ define "header" }}
<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8"/>
    <meta content="股票,基本面,技术面,东方财富,选股,基金,4433" name="keywords"/>
    <meta content="Marketool, 财报分析，基金检测，基金筛选，4433法则等" name="description"/>
    <meta content="Clang" name="author"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1, shrink-to-fit=no"
          name="viewport"/>
    <meta name="baidu-site-verification" content="codeva-hPKdI8FtuQ" />

    <link href="/statics/favicon.ico" rel="shortcut icon">
    <link href="https://fonts.loli.net/icon?family=Material+Icons" rel="stylesheet">
    <link href="/statics/css/materialize.min.css" media="screen,projection" rel="stylesheet" type="text/css"/>
    <link href="/statics/css/app.css" rel="stylesheet"/>
    <title>{{ .PageTitle }} - Marketool, 财报分析，基金检测，基金筛选，4433法则等</title>
</head>

<body>
<header>
    <nav>
        <div class="nav-wrapper marketool-background-color">
            <a class="brand-logo" href="/"><i class="material-icons">paid</i>Marketool</a>
            <a class="sidenav-trigger" data-target="mobile-sidenav" href="#"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li id="nav-stock"><a href="/"><i class="material-icons left">trending_up</i>股票</a></li>
                <li id="nav-fund"><a href="/fund"><i class="material-icons left">timeline</i>基金</a></li>
                <li id="nav-about"><a href="/about"><i class="material-icons left">info_outline</i>关于</a></li>
                <li id="nav-comment"><a href="/comment"><i class="material-icons left">chat_bubble_outline</i>留言</a></li>
<!--                <li id="nav-materials"><a href="/materials"><i class="material-icons left">book</i>资料</a></li>-->
            </ul>
        </div>
    </nav>

    <ul class="sidenav marketool-background-color" id="mobile-sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="/statics/img/sidenav_bg.png">
                </div>
                <a href="#!"><img class="circle" src="/statics/img/sidenav_icon.png"></a>
                <a href="#!"><span class="white-text">Marketool v{{ .Version }}</span></a>
            </div>
        </li>
        <li>
            <a class="collapsible-header waves-effect waves-red" href="/"><i class="material-icons left">trending_up</i>股票</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a class="collapsible-header waves-effect waves-red" href="/fund"><i class="material-icons left">timeline</i>基金</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a class="collapsible-header waves-effect waves-red" href="/about"><i class="material-icons left">info_outline</i>关于</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a class="collapsible-header waves-effect waves-red" href="/comment"><i class="material-icons left">chat_bubble_outline</i>留言</a>
        </li>
<!--        <li>-->
<!--            <div class="divider"></div>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a class="collapsible-header waves-effect waves-red" href="/materials"><i class="material-icons left">book</i>资料</a>-->
<!--        </li>-->
    </ul>

    <div class="fixed-action-btn" id="fixed-action-btn" style="bottom: 74px; right: 24px;">
        <a class="btn btn-floating btn-large marketool-background-color lighten-2" id="tap-target-btn">
            <i class="large material-icons">bookmark_border</i>
        </a>
        <ul>
            <li>
                <a class="btn-floating red tooltipped pulse" data-position="left" data-tooltip="股票" href="/">
                    <i class="material-icons">trending_up</i>
                </a>
            </li>
            <li>
                <a class="btn-floating orange tooltipped pulse" data-position="left" data-tooltip="基金" href="/fund">
                    <i class="material-icons">timeline</i>
                </a>
            </li>
            <li>
                <a class="btn-floating blue tooltipped pulse" data-position="left" data-tooltip="关于" href="/about">
                    <i class="material-icons">info_outline</i>
                </a>
            </li>
            <li>
                <a class="btn-floating purple tooltipped pulse" data-position="left" data-tooltip="留言" href="/comment">
                    <i class="material-icons">chat_bubble_outline</i>
                </a>
            </li>
<!--            <li>-->
<!--                <a class="btn-floating brown tooltipped pulse" data-position="left" data-tooltip="资料" href="/materials">-->
<!--                    <i class="material-icons">book</i>-->
<!--                </a>-->
<!--            </li>-->
            <li>
                <a class="btn-floating green tooltipped pulse" data-position="left" data-tooltip="返回顶部" id="to-top">
                    <i class="material-icons">publish</i>
                </a>
            </li>
        </ul>
    </div>
</header>

<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "04f76eb107414d02bbacd600eb61f21b"}'></script>
<!-- End Cloudflare Web Analytics -->

<!-- Baidu Web Analytics -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?21c740c96712b18b00fabf85db2188dc";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<!-- Baidu Web Analytics -->

<main class="container">
    {{ if .Error }}
    <div class="row">
        <div class="chip flow-text orange lighten-1 col s12 center-align">
            {{ .Error }}
            <i class="close material-icons">close</i>
        </div>
    </div>
    {{ end }}
{{ end }}